@{
	ViewBag.Title = "IUS // ORBU";
}

<div id="url"></div>
<div id="form">
	<div class="comment">// currently works in Firefox only</div>
	<div id="rte" contenteditable="true"></div>
	<div id="image"></div>
</div>
<script type="text/javascript">
    document.getElementById("rte").focus();
    document.getElementById("rte").onpaste = function() {
        setTimeout(function() {
            var imageData = $("#rte img").attr("src");
            $("#rte img").remove();

            var image = document.createElement("img");
            image.src = imageData;

            $("#image").children().remove();
            document.getElementById("image").appendChild(image);

            $.ajax({
                url: '@Url.Action("SaveImage")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ data: imageData }),
                success: function(result) {
                    $("<div class=\"url\">" + result + "</div>").appendTo("#url");
                    $("<img src=\"" + result + "\" alt=\"uploaded image\" />").appendTo("#url");

                    $("#form").hide();
                }
            });
        }, 0);
    };
</script>